<script src="/js/jquery-1.9.1.min.js"></script>

<header><a href="/example/jQuery">Sails.JS Examples: jQuery</a></header>

<div id="content">
	<div class='players'>
	</div>

	<div class='details'>
		<div class="name">Click a Player to select!</div>
		<div class="controls"></div>
	</div>
</div>

<footer class="clear">&copy;2013 Nobody<div class="float_right"><a href="/">Examples</a></div></footer>

<script>
var players;
var socket = io.connect();
socket.request('/players',{},function(response) {

	jQuery(document).ready(function() {
		jQuery.each(response, function(key, player) {
		$('.players').append('<div id="' + player.id + '" class="player"><span class="name">' + player.name + '</span><span class="score">' + player.score + '</span></div>');
		});
		$('.player').click(function() {
			$('.player').removeClass('active');
			$(this).addClass('active');
			$('.details .name').html($('.active .name').html());
			$('.details .controls').html('<input id="addPoints" type="submit" value="Add 5 points"/>');
			$('#addPoints').click(function() {
				socket.request('/players/update',{
					id: $('.active').attr('id'),
					score: + $('.active').find('.score').html() + 5
				},updateScoreDom);
			});
		});
		socket.on('message', function(message){
			updateScoreDom(message.data);
		});
	});
});
var updateScoreDom = function(response){
	$('#' + response.id).find('.score').html(response.score);
};
</script>